<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.6.1.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/main3.js"></script>
<title><%- title %></title>
<meta charset="utf-8">
<meta data-hid="description" name="description" content="The Pixillion Homepage. A glimpse into what the future of web.">
<meta name="twitter:card" content="summary">
<meta property="og:url" content="https://pixillion.herokuapp.com/">
<meta property="og:title" content="The Pixillion Homepage">
<meta property="og:description" content="The Pixillion Homepage. A glimpse into what the future of web.">
<meta property="og:image" content="https://pixillion.herokuapp.com/images/pixillion02.png">
<link rel="icon" type="image/x-icon" href="/images/pixillion02.png">
<link rel="stylesheet" type="text/css" href="/css/style2b.css" />
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel='stylesheet' href='/css/all2.min.css'>