<meta charset="UTF-8">
<script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
<meta property="og:image" content="https://pixillion.herokuapp.com/images/pixillion02.png">
<link rel="icon" type="image/x-icon" href="/images/pixillion02.png">
<title><%- title %></title>
<link rel='stylesheet' href='/css/all1.min.css'>