
<!DOCTYPE html>
<html lang='en' class=''>

<head>

  <meta charset='UTF-8'>
  <title>CodePen Demo</title>

  <meta name="robots" content="noindex">

  <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
  <link rel="mask-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111">
  <link rel="canonical" href="https://codepen.io/embed/prefill">

  
  

  <style class="INLINE_PEN_STYLESHEET_ID">
      .controls {
  	display: inline-block;
  }

  </style>

  
</head>

<body>
    <div class="controls">
    <p>
      <button id="add" onclick="Add()">Add a rectangle</button>
    </p>
  </div>
  <canvas id="c" width="400" height="300" style="border:1px solid #ccc"></canvas>

  
<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>
<script src="https://unpkg.com/fabric@latest/dist/fabric.js"></script>
  <script  src="https://cdpn.io/cpe/boomboom/pen.js?key=pen.js-0e5f43ca-2e72-9a47-28ab-ef4967cec143" crossorigin></script>
</body>

</html>